[package]
name = "pbrsdk_macros"
version = "0.1.0"
edition = "2024"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0.106"
quote = "1.0.44"
syn = { version = "2.0.114", features = ["full"] }

[dev-dependencies]
serde = { version = "1", features = ["derive"] }